@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 40 33% 98%;
  --foreground: 0 0% 9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 9%;
  --primary: 352 60% 31%;
  --primary-foreground: 0 0% 98%;
  --secondary: 30 18% 92%;
  --secondary-foreground: 0 0% 9%;
  --muted: 30 18% 92%;
  --muted-foreground: 0 0% 40%;
  --accent: 352 35% 92%;
  --accent-foreground: 352 60% 31%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 30 12% 86%;
  --input: 30 12% 86%;
  --ring: 352 60% 31%;
  --radius: 0.8rem;
  --brand: 352 60% 31%;
  --brand-foreground: 0 0% 98%;
}

body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] antialiased;
}
